<%# Agency home page %>
<div class='grey-box'>
  <h1 class='center'>Welcome <%= @agency.name %></h1>
    <br>
    <%= link_to "My Profile", agency_path(@agency), class: 'btn'%>
    <%= link_to "My Tours", agency_tours_path(@agency), class: 'btn' %>
    <%= link_to "New Tour", new_tour_path, class: 'btn' %>
  <br>
</div>