<div class='grey-box center'>
  <h1>Create a new Customer 
    <% if params[:tour_id] %>
      for <br><%= @tour.title %> on <%= @tour.date%>
    <% end %>
  </h1>
  <br>
  <%= render 'form' %>
  
</div>