<div class='grey-box'>
  <h1 class='center'>All Tours <% if params[:agency_id]%>
    for <%= current_user.name %>
    <% end %>
  </h1>
  <ul>
    <% @tours.each do |tour| %>
      <p><%= link_to tour.title, tour_path(tour) %></p>
    <% end %>
  </ul>
</div>