
// <-----  application styling -----> //

body{
  background-image: url(/assets/beach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.center{
  text-align: center;
  justify-content: center;
  align-items: center;
}
.grey-box{
  padding: 20px;
  background: rgba(200,200,200,0.6);
  border-radius: 7px;
  margin: 0 auto;
  width: 55%;
}
.right {
  float: right;
}


// <----- nav bar -----> //
.nav-bar{

}
.logo{
  width: 140px;
  margin: 0px 10px;
}
.btn{
  display: inline-block;
  background-color: #4cba76;
  border-radius: 5em;
  margin: 0px 5px;
}
// <----- home page styling -----> //
input {
  padding: 5px;
  border-radius: 9px;
  width: auto;
  text-align: center;
  margin: 5px;
}