
// <-----  application styling ----->

body{
  background-image: url(/assets/beach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.center{
  text-align: center;
  justify-content: center;
  align-items: center;
}
.grey-box{
  padding: 20px;
  background: rgba(200,200,200,0.6);
  border-radius: 7px;
  margin: 0 auto;
  width: 40%;
}


// <----- nav bar ----->
.nav-bar{

}
.logo{
  width: 140px;
}
.btn{
  display: inline-block;
  float: right;
  background-color: #4cba76;
  border-radius: 5em;
}
// <----- home page styling ----->
.greeting{
  text-align: center;
}