
// <-----  application styling -----> //

body{
  background-image: url(/assets/beach.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.center{
  text-align: center;
  justify-content: center;
  align-items: center;
}
.grey-box{
  padding: 20px;
  background: rgba(200,200,200,0.6);
  border-radius: 7px;
  margin: 0 auto;
  width: 55%;
}
.right {
  float: right;
}
p {
  font-size: 18px;
}
li {
  list-style-type: none;
}

// <----- nav bar -----> //
.nav-bar{

}
.logo{
  width: 140px;
  margin: 0px 10px;
}
.btn{
  display: inline-block;
  background-color: #4cba76;
  border-radius: 5em;
  margin: 0px 5px;
}
// <----- form page styling -----> //
input {
  padding: 5px;
  border-radius: 9px;
  width: auto;
  text-align: center;
  margin: 5px;
}
input[type=submit]{
  background-color: #4cba76;
}
.large-width {
  width: 50%;
}
.round-edge{
border-radius: 9px;
}